<div class="container" *ngIf="totalData; else empty">
	<h1><strong>{{capitalize(state)}}: </strong> {{totalData}}</h1>
	<div class="cards" *ngIf="state === 'followers' || state === 'following'">
		<ng-container *ngFor="let data of aboutData">
			<user-card [data]="data"></user-card>
		</ng-container>
	</div>
	<div class="row" *ngIf="state === 'repos'">
		<div class="col-xxl-6 col-lg">
			<ng-container *ngFor="let data of aboutData | slice:0:aboutData.length / 2">
				<repository-card [repository]="data"></repository-card>
			</ng-container>
		</div>
		<div class="col-xxl-6 col-lg">
			<ng-container *ngFor="let data of aboutData | slice:aboutData.length / 2">
				<repository-card [repository]="data"></repository-card>
			</ng-container>
		</div>
	</div>
	<paginator [currentPage]="1" [totalPages]="totalPages" (currentPageEvent)="toPage($event)"></paginator>
</div>
<ng-template #empty>
	<h1 class="empty">
		not {{state}}
	</h1>
</ng-template>