<p>
	The <a routerLink="/github">github</a> section allows you to send an HTTP Request with the name of a user, we get
	the information about this github account. in other words it is an exploration of a github profile using GET
	Requests to <a href="https://api.github.com/" target="_blank">https://api.github.com/</a>. In this section we
	can see user information such as: list of repositories, number of followers and following, profile information
	(links to other resources: twitter, e-mail, etc.)
</p>
<img src="assets/images/github.png" alt="github alt">