<form [formGroup]="form" (ngSubmit)="submit()">
	<div class="field">
		<label>Enter username</label>
		<div class="input">
			<div>
				<input formControlName="username" placeholder="username">
				<form-field-error *ngIf="form.get('username')?.hasError('minlength') && form.get('username')?.dirty">
					<p>
						The minimum length for username is
						{{ form.get('username')?.getError('minlength')?.requiredLength }}
						characters
					</p>
				</form-field-error>
				<form-field-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.dirty">
					<p>Email is <strong>required</strong></p>
				</form-field-error>
			</div>
			<button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Search</button>
		</div>
	</div>
</form>